h1{
    color: cadetblue;
    background-color: antiquewhite;
}
p{
    border: 1px solid black;
    font-family: fantasy;
    font-size: medium;
    color: black;
    background-color: rosybrown;
}
 